
.signup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

    
.titulo {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.form1 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.form2 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.check {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.titulo h1 {
    color: blue;
}
        